<!DOCTYPE html>
<html>
<head>
    <title>User Home</title>
</head>
<body>

   <div align="center">
<form>
<textarea name="msgReader" id="txtArea_Id">
</textarea>
<br/><br/>
<br/>
<input type="submit" name="Send" value="Send Message">
</form>
</div>
</body>
</html>